.imgabout{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/imgabout.jpg);
    padding: 20px 0;
    background-size: cover;
    background-position: center;
}
.imgabout p{
    text-align: center;
    color: rgb(185, 180, 180);
    font-size: 1.1rem;
}
.card{
    padding: 20px;
    border: 1px solid rgb(238, 234, 234);
    margin: 0 5px;
}
.growimg{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/growimg.jpg);
    height: 400px;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
}
.growimg h1{
    width: 100%;
}
.growimg{
    color: rgb(205, 194, 194);
}

@media(max-width: 574px){
    .growimg{
        padding: 0;
        height: 400px;
        background-size: cover;
        background-position: center;
    }
    .growimg h1{
        font-size: 2.3rem;
    }
    .growimg h4{
        font-size: 1.5rem;
    }
    .growimg p{
        font-size: 0.9rem;
    }
}