
.home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    flex-direction: column;
    padding: 0 20%;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/bg.jpg);
    color: #fff;
    background-size: cover;
    background-position: center;
}
.home h1{
    width: 100%;
    text-transform: uppercase;
    font-size: 4rem;
}
.home p{
    color: rgb(201, 188, 188);
}

@media (max-width: 574px){
    .home{
        width: 100%;
        height: 450px;
        padding: 0 5%;
    }
    .home h1{
        /* background-color: red; */
        font-size: 2.1rem;
    }
    .home p{
        font-size: 0.9rem;
    }
}