.bgmen{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/menbg.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
    display: flex;
    align-items: center;
}
.bgmen h1{
    padding: 0 20%;
    text-align: center;
    font-size: 3.1rem;
}
.bgmen p{
    font-size: 1.2rem;
    color: grey;
    padding: 0 20%;

}
@media(max-width: 574px){
    .bgmen{
        height: 450px;
        display: flex;
        align-items: center;
    }
    .bgmen h1{
        font-size: 2.5rem;
        width: 100%;
        padding: 0;
    }
    .bgmen p{
        font-size: 1rem;
        padding: 0;
    }
    
}
