.card{
    text-align: left;
    border: 1px solid rgb(227, 220, 220);
    padding: 40px 20px;
    font-family: sans-serif;
}
.fa-desktop{
    font-size: 2.5rem;
    color: rgb(28, 28, 234);
    padding: 10px 0;
}
.card h4{
    font-size: 1.4rem;
    padding: 10px 0;
}
.card a{
    width: 80px;
    text-align: left;
    border-bottom: 1px solid rgb(28, 28, 234);
    color: rgb(28, 28, 234);
    margin: 10px 0;
    text-decoration: none;
    display: inline-block;
}
